*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(ht1.jpg);
    background-position: flex;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1400px;
    height: 145px;
    margin: auto;
}

.navicon{
    width: 300px;
    float: left;
    height: 100px;
}

.logo{
    color: #e7062b;
    font-size: 50px;
    font-family: BD Quattra;
    padding-left: 20px;
    float: left;
    padding-top: 20px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 100px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 47px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: minion ;
    font-weight: bold;
    transition: 0.6s ease-in-out;
}

ul li a:hover{
    color: #ee1414;
}

.search{
    width: 330px;
    float: left;
    margin-left: 370px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 3px solid #c90000;
    margin-top: 35px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff0202;
    border: 2px solid #ed0000;
    margin-top: 35px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.4s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif ;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: hsl(0, 100%, 54%);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0)50%,rgba(0, 0, 0, 0)50%);
    position: absolute;
    top: -20px;
    left: 770px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 320px;
    font-family: sans-serif;
    text-align: center;
    color: #ff0a0a;
    font-size: 52px;
    background-color: #ff000000;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 360px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff0000;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
    font-size : 15px;
}

.btnn{
    width: 340px;
    height: 50px;
    background: #ff0000;
    border: none;
    margin-top: 30px;
    font-size: 28px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff0000;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
